{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    {% if stocks %}
        <form action="/sell" method="post">
            <div class="mb-3">
                <select
                    class="form-select mx-auto w-auto"
                    name="symbol"
                    required
                >
                    <option disabled selected value="">Choose a stock</option>

                    {% for stock in stocks %}
                        <option value="{{ stock.symbol }}">
                            {{ stock.symbol }} ({{ stock.shares }} shares)
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <input
                    class="form-control mx-auto w-auto"
                    name="shares"
                    placeholder="Number of shares"
                    type="number"
                    min="1"
                    required
                >
            </div>

            <button class="btn btn-primary" type="submit">Sell</button>
        </form>
    {% else %}
        <p>You do not own any shares to sell.</p>
    {% endif %}
{% endblock %}
